<div class="container">
  <div class="row .col-md-12">
    <div id="avg-graph"></div>
  </div>
  <script>
    (function() {
      var gc = new window.GraphClient;
      gc.draw();
    })();
  </script>
</div>
