<div class="container">
  <div class="row .col-md-12">
    <div id="graph"></div>
  </div>
  <script>
    window.drawGraph = function() {
      var request = new XMLHttpRequest;
      request.open("GET", "/api/v1/trade_data.json", false);
      request.send(null);

      // A little error handling in the event something weird happens.
      if (request.status != 200) {
        console.log('Failed to load trade data');
        return false;
      };

      // Parse our data out of the response
      var data = JSON.parse(request.responseText);
      window.data = data;
    };
  </script>
</div>
