<div class="container">
  <div class="row .col-md-12">
    <div id="graph"></div>
  </div>
  <script>
    window.drawGraph = function() {
      var request = new XMLHttpRequest;
      request.open("GET", "/api/v1/trade_data.json", false);
      request.send(null);

      // A little error handling in the event something weird happens.
      if (request.status != 200) {
        console.log('Failed to load trade data');
        return false;
      };

      // Parse our data out of the response
      var data = JSON.parse(request.responseText);
      window.data = data;

      // Color selection
      var colors = new Array();
      colors = d3.scale.category10();

      // Display the data and date values at position X
      var displayDateForPositionX = function(xPosition) {
        var dateToShow = x.invert(xPosition);
      };

      // Handle mouse over events
      var handleMouseOverGraph = function(event) {
        var mouseX = event.pageX - 90;
        var mouseY = event.pageY - 34;

        if (mouseX >= 0 && mouseX <= 990 && mouseY >= 0 && mouseY <= 500) {
          hoverLineGroup.select('line').remove();
          hoverLineGroup.append('line)
            .attr('x1', mouseX).attr('x2', mouseX)
            .attr('y1', 0).attr('y2', height)
            .style('stroke', 'DarkViolet').style('stroke-width', 0.2);
          displayDateForPositionX(mouseX);
        } else {
          handleMouseOutGraph(event);
        };
      };

      // Handler for when the mouse leaves the graph
      var handleMouseOutGraph = function(event) {
        hoverLineGroup.select('line').remove();
        displayDateForPositionX(width - 210);
      };
    };
  </script>
</div>
